body {
    background: #f8940c;
}

.cuteface2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    /* max-width: 100%; */
    width: 100%;
    /* max-width: 100%; */
    height: 100%;

    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}